*{
    margin: 0;
    padding: 0;
}


nav{
    background-color: skyblue;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}


li, a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    list-style: none;
    display: inline;
    margin: 5px;
    
}

.dropdown li:hover{
    text-shadow: 0px 0px 15px green;
}

/*
.grid{
    display: grid;
    background-color: skyblue;
    padding: 180px;
    grid-template-columns:auto;
}
.gridi{
    border: 1px solid skyblue;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: skyblue;
    border-color: skyblue;
}

.grid2{
    display: grid;
    background-color: rgb(177, 148,131);
    margin: 0;
    padding: 180px;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.gridi2{
    border: 1px solid rgb(177, 148,131);
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: rgb(177, 148,131);
    border-color: rgb(177, 148,131);
}
*/


.flex{
    margin: 0;
    display: inline-flex;
    border: 5px solid skyblue;
    background-color: skyblue;
    height: 400px;
    flex-direction: row;
}

.text{
    margin: 80px;
    padding: 50px;
    color: white;
}

.flex h3{
    font-size: 1.5rem;
    margin: 10px;
    font-weight: 400;
    text-align: center;
}

.flex p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

img{
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 30px;

}

/*
.flextwo{
    position: relative;
    top: 410px;
    border: 5px solid rgb(177,148,131);
    background-color:rgb(177,148,131);
    height: 400px;
}

.texttwo{
    margin: 80px;
    padding: 50px;
    color: white;
}

h2{
    font-size:1.5rem;
    margin:10px;
    font-weight: 400;
    text-align: left;
}

p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
*/

.border{
    border: solid 5px rgb(177,148,131);
    background-color: rgb(177,148,131);
    height: 450px;
    margin: 0;
}

.texttwo{
    margin: 10px;
    padding: 50px;
    color: white;
}

h2{
    font-size:1.5rem;
    margin:10px;
    font-weight: 400;
    text-align: left;
}

.flextwo{
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    display: flex;
    flex-direction: row;
}