*{
    margin: 0;
    padding: 0;
}


nav{
    background-color: skyblue;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}


li, a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    list-style: none;
    display: inline;
    margin: 5px;
    
}

.dropdown li:hover{
    text-shadow: 0px 0px 15px green;
}