*{
    margin: 0;
    padding: 0;
}


nav{
    background-color: skyblue;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}


li, a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    list-style: none;
    display: inline;
    margin: 5px;
    
}

.dropdown li:hover{
    text-shadow: 0px 0px 15px green;
}

.border{
    border: solid 5px skyblue;
    background-color: skyblue;
    height: 300px;
    margin: 0;
}

h2{
    font-size:1.5rem;
    margin-top:50px;
    font-weight: 400;
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
}

h3{
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

h5{
    text-align: center;
    color: white;
    font-size: 20px;
}

.flextwo{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h4{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

.borders{
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-width: 0.1px;
    padding: 50px;
    margin: 60px;
    border-color: rgb(12, 98, 12);
    text-align: center;  
}

.background{
    background-color: rgb(177,148,131);
    padding: 20px;
}

p{
    color: white;
    text-align: center;
    margin: 30px;
    font-size: 20px;
}
