* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: skyblue;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}

li, a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    list-style: none;
    display: inline;
    margin: 5px;
    
}

.dropdown li:hover{
    text-shadow: 0px 0px 15px green;
}

.navlogo{
    width: 25px;
    height: 25px;
    left: 265px;
    position: absolute;

}

.img{
    margin: 25px 0px 50px;
    width: 500px;
    z-index: 0;
}

.first{
    position: absolute;
    top: 175px;
    right: 150px;
    width: 400px;
    text-align: center;
    text-shadow: 0px 0px 5px green;

}


.home{
    background-color: skyblue;
 

}


#home{
    transform: rotate(270deg);
    width: 200px;
}

.fruit{

    text-align: center;
    margin: -100px 150px 150px 150px;
    padding: 0px;
    font-size: larger;

}

.flex{
    display: flex;
    gap: 460px;
    align-items: center;
    width: 300px;
    height: 200px;
}


img{
    width: 300px;
}


.border{
    border: solid 5px #25995C;
    background-color: #25995C;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 270px;
    font-size: large;
}

.garden{
    margin: 40px;
    padding: 10px;
}

#garden{
    width: 200px;
    height: 300px;
}

.info{
    width: 500px;
    font-size: larger;
}
 
footer {
    grid-area: 6 / 1 / 7 / 7;
    background-color: rgb(177,148,131);
    border: 5px solid rgb(177,148,131); 
    display: flex;
    justify-content: center;
}